<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>

<body>
<h1>
    <img src="./uploads/<%= req.file.filename %>"></img>
</h1>
</body>
</html>