.profile-container {
  width: 100%;
  height: 100%;
}
.profile-header {
  width: 100%;
  height: 30vh;
  background: black;
}
.profile-header span {
  position: relative;
  top: 3rem;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
  margin-left: 3rem;
  font-weight: 500;
}
.profile-data {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;

  align-items: center;
}
.profile-div {
  width: 60vw;
  min-height: 20rem;
  background: white;
  position: relative;
  top: -7rem;

  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.profile-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image1 {
  border-radius: 50%;
  border: 5px solid rgb(199, 195, 195);
  position: relative;
  top: -2.5rem;
}
.profile-data span {
  position: relative;
  top: -1rem;
  font-size: 2rem;
  font-weight: 800;
}
.profile-createdon {
  position: relative;

  top: 1rem;
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 500;
}
.profile-userName,
.profile-userName1,
.profile-userName2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-userName1 i {
  position: relative;
  top: 1rem;
}
.profile-userName2 button {
  position: relative;
  top: 2rem;
  padding: 10px;
  width: 10vw;
  border-radius: 5px;
  border-color: transparent;
  background: rgb(64, 101, 224);
  color: white;
  font-size: 1rem;
}
.profile-userName2 button:hover {
  cursor: pointer;
  background: rgb(46, 78, 184);
}
